h1 {
    font-size: 2em;
    color: #064c37;
}

#content {
    width:60%;
    margin:auto;
}

#story {
    /*color: pink;*/
    font-family:"Times New Roman', Times, serif";
}

#byline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*font-style: italic;*/
    font-weight: bold;
}

/*create a flexbox container for the photos so that they are evenly spaced
and display horizontally*/
#photo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*make all logos the same height for visual
consistency*/
.photo_1,
.photo_2,
.photo_3 {
  height: 125px;
  width: auto;
}

div {
border: solid 1px gray;
}


/* mobile rules */
@media(orientation:portrait) {
    #content {
        width: 100%;
    }
    body{
        font-size: 2em;
    }
}