html, body {
    margin:0;
    padding:20px;
    height:100%;
}
    
.item {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding:10px;
    margin:7px 0;
    font-size:18px;
    border-radius:0px;
}
    
.item.hidden { display:none; }

#headline {
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
}

.subtitle {
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #847900;
  margin-top: -20px;
  margin-bottom: 12px;
  font-style:italic;
}

/* Styles for category filter */
.category {   
    padding: 5px;
    background-color: #732828;
    border-radius: 0px;        
}

.category button {
    padding: 3px 36px;
    margin:5px;
    font-size:12px;
    border-radius: 0px;
    cursor: pointer;
}
    
/* Styles for price filter */
#sidebar {
    float: left;               
    width: 150px;              
    padding: 5px;
    background-color: #732828;
    border-radius: 0px;        
}

#sidebar h3 {
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 0;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    color: white;
}

#sidebar button {
    display: block;                         
    width: 94%;
    padding: 3px;
    margin: 7px auto;
    font-size: 12px;
    border-radius: 0px;
    cursor: pointer;
}

/* Push restaurant list to the right of sidebar */
#restaurant-list {
    margin-left: 170px;
}